* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Open Sans, or Arial;
    font-size: 1rem;
}

body {
    background-color: #F5F5F5;
    color: #2B2B2B;

}
/* FORMATTING CODE FOR BREAKING THE SECTION AS A DESIGN */

.line{
    width: 90%;
    height: 1px;
    border: 1px solid black;
    position: relative;
    top: 60px;
    left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}


/* FORMATTING DEFAULT WIDTH AND HEIGHT FOR ALL IMAGES  */
.image {
    width: 300px;
    height: 300px;
}

/* FORMATTING DEFAULT BUTTON DESIGN  */

.allbtn {
    display: inline-block;
    width: 100px;
    height: 50px;
    background-color: #004279;
    border: 1px solid #004279;
    border-radius: 10px;
    position: relative;
    top: 20px;

}

.allbtn a {
    font-weight: 400;
    text-decoration: none;
    color: white;
}

.allbtn:hover {
    background-color: #efbe4d;
    cursor: pointer;
    transition: 2ms;
}


/* ======== Navigation Bar and Welcome Page========= */

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #1d223e;
    align-items: end;
}

.navbar img {
    width: 110px;
    height: 100px;
}

.navbar h1 {
    font-size: 40px;
    color: #004279;
}

.navlink ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    padding: 10px 10px;

}

.navlink ul li a {
    text-decoration: none;
    color: white;
    display: inline-block;
    width: 100px;
    text-align: center;
    height: 30px;
    align-items: center;
}

.navlink ul li a:hover {
    color: #efbe4d;
    transition: 2ms;
}





/* ======WELCOME PAGE BACKGROUND IMAGE DESIGN======*/

.welcome-container {
    width: 100%;
    height: 100vh;
    background-image: url("../img/outsideimg3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.welcometext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #ffffff;
    position: relative;
    top: 200px;

}

.welcometext h1 {
    font-size: 65px;
    font-weight: bold;
    word-spacing: 10px;
}


/* ======HOMEPAGE ABOUT CONTACT====== */

.homeabout-container {
    width: 100%;
    height: 420px;
    border-radius: 20px;
    position: relative;
    top: 10px;
    padding: 10px 10px;
    /* background-color: #bbebe5; */

}

#heading{
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
   
   
}

.homeabout-content img {
    width: 500px;
    height: 300px;
    object-fit: cover;
    border: 1px solid transparent;
    border-radius: 20px;
}

.homeabout-content p {
    width:700px;
    word-spacing: 5px;
    text-align: center;
}

.homeabout-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 30px;
}

.homeabout-content button{
  position: relative;
  left: 40%;
}

.homeabout-content a {
    font-size: 15px;
}




/* ======HOMEPAGE FACILITIES SECTION====== */

.homefaci-container{
    width: 100%;
    height: 210px;
    /* border: 1px solid black; */
    margin-top: 10px;
    /* background-color: #bbd6eb; */
}

.homefaci-items {
    width: 70%;
    display: flex;
    position: relative;
    left: 15%;
    text-align: center;
    line-height: 22px;
}

.homefaci-content a{

    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* HOME COURSE CONTENT SECTION  */
 

.homecourse-container{
    padding: 10px 10px;
    height: 450px;
     /* background-color: #bbd6eb; */

}

.homecourse-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.homecourse-items {
    width: 700px;
    margin-top: 20px;

}

.homecourse-content img {
    width: 400px;
    border-radius: 10px;
} 

.homecourse-items h4{
    font-size: 20px;
    position: relative;
    bottom: 20px;
}


























/* HOMEPAGE CONTENT ABOUT COURSES */

.course-content img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
   
}

.course-content img:hover{
    filter: brightness(0.8);
}




.course-container {
   height: 500px;
}

.course-container h2{
    text-align: center;
    font-size: 30px;
    margin-top: 30px ;  

}

.course-content {
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;

   
}

.course-item {
    /* border: 1px solid green; */
    background-color: #ffffff;
    width: 400px;
    height: 400px;
}

.course-text{
    margin: 5px;
    padding: 5px;
}

.course-text h4 {
    margin-bottom: 10px;
    font-size: 20px;
    cursor: pointer;
}

.course-text a{
    text-decoration: none;
    position: relative;
    top: 20px;
    color: #004279;
}




