* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Open Sans, or Arial;
    font-size: 1rem;
}

body {
    background-color: #F5F5F5;
    color: #2B2B2B;

}

/* ======== Navigation Bar and Welcome Page========= */

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #1d223e;
    align-items: end;
}

.navbar img {
    width: 110px;
    height: 100px;
}

.navbar h1 {
    font-size: 40px;
    color: #004279;
}

.navlink ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    padding: 10px 10px;

}

.navlink ul li a {
    text-decoration: none;
    color: white;
    display: inline-block;
    width: 100px;
    text-align: center;
    height: 30px;
    align-items: center;
}

.navlink ul li a:hover {
    color: #efbe4d;
    transition: 2ms;
}





/* WELCOME PAGE BACKGROUND IMAGE DESIGN */

.welcome-container {
    width: 100vw;
    height: 100vh;
    background-image: url("../img/outsideimg3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.welcometext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #ffffff;
    position: relative;
    top: 200px;

}

.welcometext h1 {
    font-size: 65px;
    font-weight: bold;
    word-spacing: 10px;
}

#welcometext-btn a {
    font-weight: 800;
    text-decoration: none;
    color: white;

}

#welcometext-btn button {
    display: inline-block;
    width: 100px;
    height: 50px;
    background-color: #F28B30;
    border: 1px solid #F28B30;
    box-shadow: 0px 4px rgb(147, 145, 145);
    border-radius: 10px;
    position: relative;
    top: 20px;

}

#welcometext-btn button:hover{
    background-color: transparent;
    transition: 2ms;
    cursor: pointer;
}


/* HOMEPAGE CONTENT ABOUT COURSES */


.course-container {
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
    padding: 20px 20px;
}

.course-content{
    width: 400px;
    height: 200px;
    margin: 10px 10px;
    padding: 10px 10px;
    background-color: #e6e8ea;
}



.courser-content p{
    position: absolute;
    top: 20px;
}

.course-item {
    position: relative;
    top: 20px;
}

.course-btn {
    position: relative;
    top: 40px;
}

